html {
  background-color: unset;
}
body {
  background-color: #a8dadc;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin: 0;
  padding: 0 5%;
}

em {
  font-weight: bold;
}

#pessoal {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 3em;
  text-align: center;
}

.habilidade {
  color: #1d3557;
}

.my-item {
  align-items: center;

  border: 1px solid transparent;
  display: flex;
  height: 0.5em;
  font-size: 24px;
  letter-spacing: 4px;
  margin: 3px;
  overflow: hidden;
  padding: 15px 30px;
  position: relative;
}

.my-item:hover {
  border: 1px solid ;
  border-image-source: linear-gradient(45deg,transparent,#2196f3);
  border-image-slice: 1;
}

.external-links {
  color: #1d3557;
}

.descricao {
  color: #4ecdc4;
  font-size: 1.5em;
  font-style: italic;
  font-weight: bolder;
}

.strong-skill {
  font-weight: bold;
}

.titulos {
  color: #f7f7f8;
}

.link-externo {
  color: #0fa36b;
}

.faixa {
  border: 1px solid transparent;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: 0.5em;
  padding-bottom: 5px;
  padding-top: 5px;
  position: relative;
  top: 0.5em;
  width: 100%;
}

.container-faixa:hover {
  color: #255784;
  animation: animate1 1s linear;
}

@keyframes animate1 {
  0% {
    border: 1px solid #5b7bd8;
    box-shadow: 0 0 10px #0e3758,
                0 0 40px #0e3758,
                0 0 80px #0e3758;
    transition-delay: 0.1s;
  }
}

#container {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  height: 17em;
  justify-content: space-around;
  position: relative;
  top: 0.3em;
  width: 100%;
}

#mypicture {
  border-radius: 15%;
  box-shadow: 0px 0px 30px -7px rgb(111, 117, 141);
}

.apresentacao {
  color: #14213d;
  font-size: 1.25em;
  float: left;
  max-width: 60%;
  text-align: center;
  vertical-align: middle;
}

.minha-foto {
  float: right;
  padding: 0.5em;
  vertical-align: middle;
}

.redes-sociais {
  position: relative;
  display: inline;
  top: 20em;
}

#end-buttons {
  display: inline-block;
  float: none;
  position: relative;
  text-align: center;
}

#end-buttons li {
  border-radius: 10px;
  background-color: unset;
  text-transform: none;
}

.my-button {
  align-items: center;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  color: white;
  display: flex;
  font-size: 1.1em;
  font-weight: 700;
  height: 0.5em;
  justify-content: center;
  margin: 5px;
  padding: 15px 30px;
  text-decoration: none;
}

.my-button:hover {
  border-color: #ff9a76;
}

.my-icon {
  padding-right: 5px;
}
